* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100vh;
	background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Amatic SC', cursive;
}

h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 5em;
	font-weight: 700;
}

h2 {
	text-align: center;
	margin-top: 50px;
	font-size: 4em;
	font-weight: 400;
}

h3 {
	text-align: center;
	font-size: 3em;
}

p {
	text-align: center;
	font-size: 4em;
	font-weight: 400;
}

img {
	width: 100%;
	margin-top: 20px;
}

.container {
	display: block;
	margin: 40px auto;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
}

.name {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

li, i {
	display: inline;
	font-size: 2em;
	margin: 10px;
	color: #000;
	transition: 0.5s;
}

i:hover {
	color: #fff;
}
